body {
  font-family: sans-serif;
  margin-top: 5em;
}

body, html{
  cursor: url(http://i916.photobucket.com/albums/ad9/sugarycandy/cursors/pinksparkly.gif), pointer;
  height: 100%;
}

main, img{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
