body {
  font-family: sans-serif;
  background-color: rgb(255,173,194);
}

body, html{
  cursor: url(http://i916.photobucket.com/albums/ad9/sugarycandy/cursors/pinksparkly.gif), pointer;
  height: 100%;
}

main, img{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav{
  height: 50px;
  background-color: rgb(149,152,238);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}


.navbar-light .navbar-brand{
  color: white;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
