body {
  font-family: sans-serif;
  background-color: white
}

body, html{
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=105302), default;
  height: 100%;
}
.poem{
  white-space:pre-wrap;
}
.one-baby-page-header{
  text-align: center;
}
main, img{

}
.img-slide{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
.product-page-img{
  max-height: 12em;
  max-width: 20em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav{
  height: 50px;
  background-color: rgb(149,152,238);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  justify-content: flex-end;
  opacity: .8;
}


.navbar-light .navbar-brand{
  color: white;
}

.navbar-brand{
  margin-right: auto;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.slide {
  margin: 0 auto;
  height: 35em;
  width: 60em;
  object-fit: fill;
}

.carousel-caption {
  text-shadow:1px 1px gray
}

#clearButton {
  padding-left: 0em
}



#beanie-baby {
  max-height: 3em;
  max-width: 4em;
  padding-top: 66.66%;
}
.beanie-baby {
  text-align: center
}
.btn-light {
  color: pink;
  outline-color: pink;
}

a {
  color: pink;
  text-decoration: none;
}

.react-toasts-container {
  bottom: 0;
}

/* -------- REVIEW STYLE -------- */

.reviews-title {
  text-align: center;
}

.each-review {
  text-align: left;
  padding: 10px 300px;
}

.review-text {
  padding: 10px 70px;
}

.each-new-review {
  display: flex;
  justify-content: center;
}

/* -------- CART STYLE -------- */

.cart-container {
  padding: 10px;
}
